<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>company</title>
    <link href="../static/css/1.css" rel="stylesheet"  type="text/css" />
</head>
<body>
<header>
  <h1>
         <span class="orange">  management interface  </span>
  </h1>
</header>

<nav>
      <ul>
        <li><a href="login.html" class= "selected">Managerial employee login interface  </a> </li>
        <li><a href="search1.html">Search for cases by status and time frame </a></li>
        <li><a href="search2.html">Search for a customer and purchased products </a></li>
        <li><a href="search3.html">Search for common resolutions by product </a></li>

      </ul>
</nav>

<div id="content">

    <section>
        <h1>Content</h1>
        <body>
	<div class="search">
		<form action="#" method="post">
			<img src="./search_ico.png" alt="">
			<input type="text" name="condition" placeholder="input please">
			<input type="submit" value="search">
		</form>
	</div>
</body>
        <iframe src="customers_list.html" height="300" width="600">
                       <a href="customers_list.html">

                       </a>
              </iframe >

    </section>

    <aside>
        <ul>
            <li><a href="customers_list.html" class="selected">customers list </a> </li>
            <li><a href="index1.html">employees list </a></li>
            <li><a href="index1.html">products list</a></li>
            <li><a href="index1.html">cases list </a></li>
            <li><a href="index1.html">resolutions list </a></li>

        </ul>
    </aside>
</div>
<p>
    <a href="/logout/">登出</a>
</p>

<footer>
        <p>If you have any problem</p>
        <hr />
        <small>Please contact us</small>
        <small>Thank you</small>

</footer>



</body>
</html>